html {
    font-family: 'Kanit', sans-serif;
}

header{
    background: #000000;
    padding: 10px 0;
}

.caixa {
    width: 50%; /* largura do box */
    padding: 0 5%; /* padding à esquerda e à direita */
    border-width: 0 1%; /* borda à esquerda e à direita */
    margin: 5px;

}

nav {
    position: absolute;
    top: 50px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 30px; 
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #e2a73a;
}

.produtos {
    width: 1115px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 330px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-top: 5px solid #e2a73a;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #e2a73a;
}

.produtos li:active{
    border-color: #110a68;
}

.produtos li:hover h2 {
    font-size: 26px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.produto-descricao {
    font-size: 15px;
    margin-top: 15px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    text-align: center;
    background: #000000;
    padding: 25px 0;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    color: #ffffff;
}